<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <div class="topnav">
      <!-- <a class="active" href="#home">Home</a> -->
      <!-- thêm / vô đường dẫn link home -->
      <a class="" href="/">Home</a>
      <a href="/api/v2/user/create-user">Create User</a>
    </div>
    <div class="table-container">
      <!-- <%= JSON.stringify(users) %> -->
      <div class="title">List Users</div>
    </div>
    <table style="background-color: aqua">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>password</th>
          <th>role</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <!-- c2 -->
        <% users.forEach((user)=> { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.password %></td>
          <td><%= user.role %></td>
          <td><%= user.firstName %></td>
          <td><%= user.lastName %></td>
          <td>
            <!-- cho nay de lay gia tri id  -->
            <form
              action="/api/v2/user/update/userId/<%= user._id %>"
              method="get"
            >
              <button type="submit">Edit</button>
            </form>
            <form
              action="/api/v2/user/delete/userId/<%= user._id %>"
              method="get"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
